.navigation_parent_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    
}

.navigation_left_section{

}

.navigation_left_section h3{
    font-weight: 600;
    color: rgba(2, 29, 12, 0.869);
}

.navigation_right_section a{
    text-decoration: none;
    /* font-weight: 600; */
    /* font-size: 20px; */
    color: white;
    background: green;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}