.banner{
    color: rgb(253, 242, 242);
    border-width: 10px;
    border-color: rgb(188, 153, 197);
    border-style: double;
    width: 90vh;
    min-height: calc(10hv - 40px);
    text-align: center;
    align-items: center;
}


h1{
    font-size: 70px;
    font-weight: bolder;
}

h4{
    font-size: 30px;
}