.banner__image{
    width: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* .gatewayHeroProps{
    min-height: calc(60vh - 40px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../../assets/banner3.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
    filter: blur(1px);

} */

.gatewayHeroProps{
    min-height: calc(60vh - 40px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gatewayHeroProps::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../../assets/banner3.jpg") center/cover no-repeat; */
    filter: blur(1px);
}
